<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books detail</title>
</head>
<body>
    <div>
        <h1>{{ books_detail.title }}</h1>
        <h2>{{ books_detail.subtitle }}</h2>
        <p>{{ books_detail.description }}</p>
        <h4>{{ books_detail.autor }}</h4>
        <h4>{{ books_detail.genre }}</h4>
        <h4>{{ books_detail.year }}</h4>
        <h5>{{ books_detail.price }}</h5>
    </div>
</body>
</html>